{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": false,
    "plugins": ["@prettier/plugin-php", "prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "phpVersion": "8.3",
                "singleQuote": true,
                "trailingCommaPHP": true
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
